{% extends "layout.njk" %}

{% block content %}




    <div id="wrapper">
        <img src="me2.jpg" alt="Bruno">
        <div class="text">
            <h2>Fullstack Web Developer</h2>
            <p>{{data.role}} </p>
        </div>
    </div>

    <div class="links">
         <a href="https://github.com/BmAlkes"><i class="fab fa-github"> Github</i></a>
       <a href="https://www.linkedin.com/in/bruno-malkes-a05a72150/"> <i class="fab fa-linkedin"> Linkedin</i></a>
        <a href="https://wa.me/9720549547355"><i class="fab fa-whatsapp-square"> WhatsApp</i></a>
       <a href="https://www.facebook.com/bmalkes/"> <i class="fab fa-facebook"> Facebook</i></a>
    </div>


{% endblock %}